{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Магазин Философия{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/counter.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart_button.css' %}">
</head>
<body>
    <header>
        {% block header %}
        <nav>
            <ul>
                <a href="../shop">
                    <img src="../static/images/logo.png" style="height: 50px;">
                </a>
                <li{% if current_page == 'about' %} class="active"{% endif %}><a href="../about">О нас</a></li>
                <li{% if current_page == 'shop' %} class="active"{% endif %}><a href="../shop">Каталог</a></li>
                <li{% if current_page == 'contact' %} class="active"{% endif %}><a href="../contact">Контакты</a></li>
                <li{% if current_page == 'cart' %} class="active"{% endif %}><a href="../cart">Корзина</a></li>
            </ul>
        </nav>
        {% endblock header %}
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
    <footer>
        {% block footer %}
        <p>© 2025 Философия</p>
        {% endblock footer %}
    </footer>
</body>
</html>