{% extends "base.html" %}
{% block content %}
<div class="contact-info">
    <h2>Контакты</h2>
    <ul>
        <li><img src="../static/images/whatsapp.png" alt="WhatsApp"> +7 (123) 456-78-90</li>
        <li><img src="../static/images/telegram.png" alt="Telegram"> @company_telegram</li>
        <li><img src="../static/images/vk.png" alt="VK"> <a href="https://vk.com/company_vk">company_vk</a></li>
        <li><img src="../static/images/email.png" alt="Email"> <a href="mailto:info@company.com">info@company.com</a></li>
        <li><img src="../static/images/phone.png" alt="Phone"> +7 (123) 456-78-90</li>
    </ul>
</div>

{% endblock %}