{% extends "base.html" %}
{% block content %}
{% load static %}
<button class="cart-button" img="{% static 'images/cart.png' %}">
    <img src="{% static 'images/cart.png' %}" height="40" width="40" alt="Корзина">
</button>
<section id="catalog">
    <h1>Каталог</h1>
    <div class="product-container">
        {% for item in products %}
        <div class="product-card" style="background-image: url('{{ item.preview_image.img.url }}');">
            <div class="product-info">
                <h2>{{ item.name }}</h2>
                <p>{{ item.type }}</p>
                <p class="price">{{ item.price_sell }} р.</p>
                <a href="" class="buy-button" data-product-id={{ item.id }}>Купить</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <script src="{% static 'js/shop.js' %}"></script>
    <script src="{% static 'js/counter.js' %}"></script>
</section>
{% endblock content %}