{% extends "base.html" %}
{% block content %}
<section id="catalog">
    <h1>Каталог</h1>
    <div class="product-container">
        {% for item in products %}
        <div class="product-card" style="background-image: url('{{ item.preview_image.img.url }}');">
            <div class="product-info">
                <h2>{{ item.name }}</h2>
                <p>{{ item.type }}</p>
                <p class="price">{{ item.price_sell }} р.</p>
                <a href="#" class="buy-button">Купить</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}