{% extends "base.html" %}
{% block content %}
{% load static %}
<section id="catalog">
    <h1>Каталог</h1>
    <div class="product-container">
        {% for item in products %}
        <div class="product-card" style="background-image: url('{{ item.preview_image.img.url }}');">
            <div class="product-info">
                <h2>{{ item.name }}</h2>
                <p>{{ item.type }}</p>
                <p class="price">{{ item.price_sell }} р.</p>
                {% if item.id in cart_item_ids %}
                <div class="control-count-panel">
                    <a href="" class="minus-button" data-product-id={{ item.id }}>-</a>
                    {% for cart_item in cart_items %}
                        {% if cart_item.product.id == item.id %}
                            <span>{{ cart_item.count }}</span>
                        {% endif %}
                    {% endfor %}
                    <a href="" class="plus-button" data-product-id={{ item.id }}>+</a>
                </div>
                {% else %}
                <a href="" class="buy-button" data-product-id={{ item.id }}>Купить</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <script src="{% static 'js/add_to_cart.js' %}"></script>
    </div>
</section>

{% endblock content %}
