.cart-button {
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    border-radius: 12px;
    border: none;
    position: fixed;
    right: 1%;
    top: 10%;
    padding: 5px;
    background: #ffffff;
    /* background: url("../images/cart.png") no-repeat center / contain; */
    transition: 0.1s;
    z-index: 1001;
}
.cart-button {
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    cursor: pointer;
    border-radius: 6em;
    transition: all 0.2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
  }
  
  .cart-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .cart-button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .cart-button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  
  .cart-button::after {
    background-color: #fff;
  }
  
  .cart-button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }