.counter {
  text-align: center;
}
.count {
  border: 2px solid transparent;
  width: 4em;
  height: 2em;
  /* padding-left: 0.8em; */
  text-align: center;
  outline: none;
  overflow: hidden;
  background-color: #F3F3F3;
  border-radius: 10px;
  transition: all 0.5s;
}

.count:hover,
.count:focus {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

.plus, .minus {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    width: 30px;
    height: 30px;
    /* padding: 0.25em 0.5em; */
    display: inline-block;
    cursor: pointer;
    border-radius: 6em;
    transition: all 0.2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
  }
  
  .plus:hover, .minus:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .plus:active, .minus:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .plus::after, .minus::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  
  .plus::after, .minus::after {
    background-color: #fff;
  }
  
  .plus:hover::after, .minus:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }